.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.form p{
  font-size: 30px;
  font-weight: bold;
  color: #1668b4;
}

.form div{
  margin-bottom: 10px;
  width: 350px;
}