.title{
  display: flex;
  justify-content: center;
}

.addButtonBlock{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search{
  display: flex;
  justify-content: center;
}

.userInfo{
  margin-left: 10px;
}

.table{
  display: flex;
  justify-content: center;
}

.showAllButton{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.header{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}